

  p {
    font-size: 20px;
  }
  
  /* Dark Mode */
  .dark {
    background-color: rgb(17, 17, 17);
    height: 100vh;
    color: #bebebe
   
  }
  
  /* Light Mode */
  .light {
    background-color: #f0ead6; 
    color: black;
    height: 100vh;
  }
  
  .mainContainer{
    background-color: rgb(251, 248, 248);
    position: relative;
}


  