/* this file is used for both index ad blog.html */

body {font-family: Arial, Helvetica, sans-serif;
}
  p {
    font-size: 20px;
  }
  
  /* Dark Mode */
  .dark {
    background-color: rgb(17, 17, 17);
    color: #bebebe
   
  }
  
  /* Light Mode */
  .light {
    background-color: #f0ead6; 
    color: black;
  }
  
  .mainContainer{
    background-color: #f0ead6;
    position: relative;
}


  